C:\Users\kadam\Documents\GitHub\java-dsa-learning\linkedlist-learning\linkedlist\lib
C:\Users\kadam\Documents\GitHub\java-dsa-learning\linkedlist-learning\linkedlist\bin
C:\Users\kadam\Documents\GitHub\java-dsa-learning\linkedlist-learning\linkedlist\.vscode
lib